.start-btn {
  font-size: 28px;
  font-weight: 800;
  border-radius: 20px;
  background: #73a143;
  margin: 9px;
  padding: 10px 48px;
  color: white;
  font-style: italic;
  border: 2px solid white;
  cursor: pointer;
}

.global-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  width: 260px;
}
.global-pts-h1 {
  font-weight: 800;
  border-radius: 20px;
  background: pink;
  margin: 9px;
  padding: 6px;
  color: white;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.candyCrush-logo-container {
  margin-top: 10px;
  /* display: none; */
  width: 270px;
  height: 195px;
}
.game-rules-txt {
  text-align: center;
  font-style: italic;
  color: #c9970a;
}

@media (max-width: 415px) {
  .candyCrush-logo-container {
    display: block;
  }
}

@media (max-width: 1129px) {
  .candyCrush-logo-container {
    display: block;
  }
}
