body {
  margin: 0;
  padding: 0;
  background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-sweet-colorful-candy-poster-background-picture-image_1033494.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  margin: 10px 0;
}
.game-grid-container {
  margin-top: 8px;
}

.score-box {
  background: pink;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-family: cursive;
}

.back-btn {
  font-size: 17px;
  font-weight: 800;
  border-radius: 20px;
  background: #73a143;
  margin: 9px;
  padding: 7px 33px;
  color: white;
  font-style: italic;
  border: 2px solid white;
  cursor: pointer;
}

.timer-box {
  width: 225px;
  text-align: center;
}
@media (max-width: 1129px) {
  body {
    background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-sweet-colorful-candy-poster-background-picture-image_1033494.jpg");
  }
}

@media (max-width: 415px) {
  .score-box {
    font-size: 20px;
  }
  .timer-box {
    width: 267px;
  }
}

@media (min-width: 767px) {
  .score-box {
    /* margin-top: 12px; */
    /* padding: 10px; */
    font-size: 20px;
  }
  .timer-box {
    width: 396px;
  }

  .back-btn {
    font-size: 25px;
    /* margin: 13px; */
    padding: 3px 37px;
    border: 5px solid white;
  }
}

@media (min-width: 768px) and (max-width: 818px) {
  .score-box {
    font-size: 30px;
  }
}

@media (min-width: 819px) {
  .score-box {
    font-size: 25px;
  }
  .timer-box {
    width: 480px;
  }
}
